DB_USER=tfk_app
DB_PASSWORD=ChangeThisAppPassword
DB_HOST=tfk-db
DB_PORT=3306
DB_NAME=tfk-db
DB_CHARSET=utf8
DB_ECHO=true
ARTICLE_STORAGE_DIR=storage/articles
TEST_DB_URL=sqlite+aiosqlite:///:memory:
APP_PORT=8000
TZ=Asia/Tokyo
MYSQL_ROOT_PASSWORD=ChangeThisRootPassword
API_KEY=ApiKeyHere
